body{
    background-color: lightgray;
}

.container{
    display: flex;
    justify-content: center;
    width: 100%;
}

.calculator{
    border-radius: 10px;
    border: 2px solid black;
    margin-top: 100px;
    display: inline-grid;
    grid-template-rows: 140px 50px;
    grid-template-columns: 400px;
    background-color: darkgray;
    width: 400px;
    height: 520px;
}

.screen{
    display: flex;
    border: 2px solid black;
    border-radius: 10px;
    background-color: lightgray;
    width: 360px;
    height: 100px;
    margin: 20px;
    text-align: center;
    justify-content: right;
}

.display{
    width: 250px;
    height: auto;
    margin-top: 40px;
    margin-right: 20px;
    text-align: right;
    font-weight: bold;
    font-size: 45px;
}

.button-section.top{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;

}
.button.clear, .button.delete{
    border-radius: 10px;
    border: 2px solid black;
    width: 167px;
    height: 50px;
}

.button{
    font-weight: bold;
    font-size: 20px;
    transition-duration: 0.4s;
}

.button.clear{
    background-color: lightsalmon;
    margin-right: 10px;
}
.button.clear:hover{
    background-color: lightcoral;
}
.button.clear:active{
    transform: translateY(4px);
}
.button.delete{
    background-color: lightblue;
    margin-left: 10px;
}

.button.delete:hover{
    background-color: lightskyblue;
}
.button.delete:active{
    transform: translateY(4px);
}

.button-section.bottom{
    display: grid;
    gap: 10px;
    height: 290px;
    grid-template-rows: auto auto auto auto;
    grid-template-columns: auto auto auto auto;
    padding: 20px;
}

.button:not(.clear):not(.delete){
    background-color: lightgray;
    border: 2px solid black;
    border-radius: 10px;
    width: 100%;
    height: 100%;
}
.button:not(.clear):not(.delete):hover{
    background-color: gray;
}

.button:not(.clear):not(.delete):active{
    transform: translateY(4px);
}